Package: plover
Version: 1.1-3
Architecture: i386
Maintainer: quickstart <quickstart@unknown>
Installed-Size: 48
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
